body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wordBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2em;
  margin-bottom: 5px;
}

.size-2 {
  height: 1.5em;
  width: 1.5em;
  font-weight: 900;
}

.iconfalse{
  color: red;
}

.icontrue {
  color: green;
}

.greenBorder {
  border: 2px solid green;
  border-radius: 10px;
}

.redBorder {
  border: 2px solid red;
  border-radius: 10px;
}